@import './element_plus.scss';
@import './variables.scss';
@import './mixin.scss';
@import './sidebar.scss';
@import './iconfont.scss';
body {
	height: 100%;
	margin: 0;
	padding: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial,
		sans-serif;
}
:root {
  --el-color-primary:#2e8de6
}

label {
	// font-weight: 700;
}

html {
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#app {
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a:focus,
a:active {
	outline: none;
}

a,
a:focus,
a:hover {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

div:focus {
	outline: none;
}

.clearfix {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: ' ';
		clear: both;
		height: 0;
	}
}

// main-container global css
.app-container {
	padding: 20px;
}

.fy_a{
  color: $c_vice;
  cursor: pointer;
  text-decoration: underline;
}
div::-webkit-scrollbar{
  width:12px;
  height:12px;
}
div::-webkit-scrollbar-track{
  background: rgb(239, 239, 239);
  border-radius:2px;
}
div::-webkit-scrollbar-thumb{
  background: #bfbfbf;
  border-radius:10px;
}
div::-webkit-scrollbar-thumb:hover{
  background: #888;
}
div::-webkit-scrollbar-corner{
  background: #179a16;
}