$c_main:#f08437;// 主色调
$c_vice:#2e8de6;// 副色调

// sidebar
$menuText: #bfcbd9;
$menuActiveText: #409eff;
$subMenuActiveText: #f4f4f5; //https://github.com/ElemeFE/element/issues/12951
$navTextColor: #fff;
$menuBg: #2e2f30;
$menuHover: #001529;
$subMenuBg: #000c17;
$subMenuHover: #000c17;

$sideBarWidth: 210px;
