.calendarCard {
	.calendarCard_title {
		position: relative;
		width: 100%;
		padding: 20px 0;
		.calendarCard_left {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 10;
			display: flex;
			align-items: center;
			%m {
				cursor: pointer;
				color: #666;
			}
			.calendarCard_pre {
				@extend %m;
			}
			.calendarCard_now {
				margin: 0 12px;
			}
			.calendarCard_next {
				@extend %m;
			}
		}
		.calendarCard_head_cen {
			text-align: center;
		}
	}
	.calendarCard_body {
		margin-top: 20px;
		.calendarCard_head {
			display: flex;
			justify-content: space-between;
			border: 1px solid #eee;
		}
		.add {
			margin-right: 4px;
			font-size: 12px;
			color: #666;
		}
		.time {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			padding: 20px 10px;
			border-left: 1px solid #eee;
			text-align: center;
			cursor: pointer;
		}
		.calendarCard_str {
			display: flex;
			justify-content: space-between;
			border: 1px solid #eee;
			border-top: 0;

			.calendarCard_item {
				width: 100%;
				border-left: 1px solid #eee;
			}
			.calendarCard_item_in {
				position: relative;
				padding: 20px 10px;
				border-bottom: 1px solid #eee;
				&:last-child {
					border-bottom: 0;
				}
				.calendarCard_item_p {
					font-size: 14px;
					margin-bottom: 4px;
				}
				.tips {
					position: absolute;
					bottom: 10px;
					right: 10px;
					color: #f00;
				}
			}
		}
		.calendarCard_nodate {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 200px;
			border: 1px solid #eee;
			border-top: 0;
			font-size: 20px;
			color: #999;
		}
	}
}
